*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    background-color: bisque;
}

.container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.left-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/luffy.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.logo-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    background:rgba(0, 0, 0, 0.5);
}

.credits{
    display: flex;
    align-items: flex-end;
    background:rgba(0, 0, 0, 0.5);
    color:white;
    margin-bottom: 10px;
}

p.credits>a{
    color: white;
}

h1{
    font-size:50px;
    padding: 15px;
    color: white;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 80px;
    gap: 30px;
}

.details-container{
    display: flex;
    flex-direction: column;
    width: 120vh;
    height: 30vh;
    gap: 20px;
    margin: 20px;
}

.data{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 100px;
}

button{
    margin-top: 30px;
    width: 20%;
    padding: 10px 30px;
    border-radius: 5%;
}

form>p{
    margin-top: 10px;
}

input{
    margin-top: 6px;
    border: 1px solid black;
    height: 30px;
    width: 300px;
    padding: 3px;
}

input:hover{
    border: 2px solid rgb(7, 7, 34);
}

legend{
    font-weight: bolder;
}
